<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Productslider>
            <version>0.1.2</version>
        </Magebuzz_Productslider>
    </modules>
    <frontend>
		<secure_url>
            <productslider>/productslider/</productslider>
        </secure_url>	
        <routers>
            <productslider>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Productslider</module>
                    <frontName>productslider</frontName>
                </args>
            </productslider>
        </routers>
        <layout>
            <updates>
                <productslider>
                    <file>productslider.xml</file>
                </productslider>
            </updates>
        </layout>
        <translate>
      		<modules>
      			<Magebuzz_Productslider>
      				<files>
      					<default>Magebuzz_Productslider.csv</default>
      				</files>
      			</Magebuzz_Productslider>
      		</modules>
      	</translate>	
    </frontend>
    <admin>
        <routers>
			<productslider>
				<use>admin</use>
				<args>
					<module>Magebuzz_Productslider</module>
					<frontName>productslider</frontName>
				</args>
			</productslider>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<productslider>
					<file>productslider.xml</file>
				</productslider>
			</updates>
		</layout>
      <translate>
        		<modules>
        			<Magebuzz_Productslider>
        				<files>
        					<default>Magebuzz_Productslider.csv</default>
        				</files>
        			</Magebuzz_Productslider>
        		</modules>
    	</translate>	
    </adminhtml>   
    <global>
        <models>
            <productslider>
                <class>Magebuzz_Productslider_Model</class>
                <resourceModel>productslider_mysql4</resourceModel>
            </productslider>
            <productslider_mysql4>
                <class>Magebuzz_Productslider_Model_Mysql4</class>
                <entities>
                    <productslider>
                        <table>productslider</table>
                    </productslider>
                </entities>
            </productslider_mysql4>
        </models>
        <resources>
            <productslider_setup>
                <setup>
                    <module>Magebuzz_Productslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productslider_setup>
            <productslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productslider_write>
            <productslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productslider_read>
        </resources>
        <blocks>
            <productslider>
                <class>Magebuzz_Productslider_Block</class>
            </productslider>	
        </blocks>
        <helpers>
            <productslider>
                <class>Magebuzz_Productslider_Helper</class>
            </productslider>
        </helpers>	
    </global>
	<!--Set Default Value For Setting Options-->
	<default>
		<productslider>
			<slider_setting>
				<width_slider>685</width_slider>
				<height_slider>210</height_slider>
				<type_slider>simple-slider</type_slider>
				<slider_position>home</slider_position>
			</slider_setting>
			<product_setting>
				<type_product>random</type_product>
				<category_filter>1</category_filter>
				<num_products>6</num_products>
				<show_description>1</show_description>
				<show_product_page>1</show_product_page>
				<title_of_slider></title_of_slider>
			</product_setting>
		</productslider>
	</default>
</config>